<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" aria-label="Home" target="" href="/" title="Home">
      <span class="material-icons-round">book</span>
      <span class="company-title">Elobooks</span>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-end navbar-menu">
    <a class="navbar-item" aria-label="Usuários" target="" href="/usuarios" title="Usuários">
      Usuários
    </a>
    <a class="navbar-item" aria-label="Livros" target="" href="/livros" title="Livros">
      Livros
    </a>
    <a class="navbar-item" aria-label="Empréstimos" target="" href="/emprestimos" title="Empréstimos">
      Empréstimos
    </a>
    <a class="navbar-item" aria-label="Recomendações" target="" href="/recomendacoes" title="Recomendações">
      Recomendações
    </a>
  </div>
</nav>

<router-outlet></router-outlet>