<div class="container">
  <div class="columns is-justify-content-center m-4">
    <div class="column is-5">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Usuário</label>
        </div>
        <div class="field-body">
          <div class="field has-addons">
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select aria-label="Selecionar o usuário" [(ngModel)]="usuarioSelecionado">
                  <option *ngFor="let usuario of usuarios" [ngValue]="usuario">
                    {{ usuario.nome }}
                  </option>
                </select>
              </div>
            </div>
            <div class="control">
              <a class="button is-link" (click)="buscarRecomendacoes()"> Pesquisar </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-justify-content-center m-4" *ngIf="recomendacoes.length > 0">
    <div class="column is-centered is-10 table-container box is-scrollable">
      <table
        class="table is-striped is-hoverable is-fullwidth"
        aria-describedby="Tabela de recomendação de livros"
      >
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">ISBN</th>
            <th scope="col">Data de Publicação</th>
            <th scope="col">Categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recomendacao of recomendacoes">
            <td>
              <input
                class="form-check-input mt-0 align-middle"
                type="radio"
                id="idRadio"
                name="nmRadio"
                aria-label="Radio button para um item da lista de recomendações"
                (change)="selecionarRecomendacao(recomendacao)"
              />
            </td>
            <th scope="row">{{ recomendacao.id }}</th>
            <td>{{ recomendacao.titulo }}</td>
            <td>{{ recomendacao.autor }}</td>
            <td>{{ recomendacao.isbn }}</td>
            <td>{{ recomendacao.dataPublicacao | date: 'shortDate' }}</td>
            <td>{{ recomendacao.categoria }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="recomendacoes.length === 0">
          <tr>
            <td colspan="6" class="has-text-centered">
              <div class="is-flex is-flex-direction-column is-align-items-center py-6">
                <p class="is-size-5 has-text-weight-semibold">Nenhuma recomendação encontrada</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="columns is-justify-content-center m-4" *ngIf="recomendacoes.length > 0">
    <div class="column is-fullwidth is-10">
      <div class="buttons is-justify-content-flex-end">
        <button class="button is-success" type="button" (click)="emprestar()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus-square-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
            />
          </svg>
          Emprestar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" [class.is-active]="modal.cadastrar">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Emprestar Livro</p>
      <button class="delete" aria-label="close" (click)="fecharModal('cadastrar')"></button>
    </header>
    <section class="modal-card-body">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">ID</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded">
              <input
                class="input"
                type="text"
                [disabled]="true"
                [(ngModel)]="recomendacaoSelecionada.id"
              />
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Título</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded">
              <input
                class="input"
                type="text"
                [disabled]="true"
                [(ngModel)]="recomendacaoSelecionada.titulo"
              />
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="cadastrarEmprestimo()">Cadastrar</button>
      <button class="button" (click)="fecharModal('cadastrar')">Cancelar</button>
    </footer>
  </div>
</div>

<div class="modal" [class.is-active]="modal.alerta">
  <div class="modal-background"></div>

  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Aviso</p>
      <button class="delete" aria-label="close" (click)="fecharModal('alerta')"></button>
    </header>

    <section class="modal-card-body">
      {{ msgModal }}
    </section>

    <footer class="modal-card-foot is-justify-content-flex-end">
      <button class="button is-link" (click)="fecharModal('alerta')">Ok</button>
    </footer>
  </div>
</div>
